.search {
  width: 30%;
  margin-left: auto;
  margin-right: 60px;
  display: flex;
  // justify-content: end;

  form {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: end; // flex-end;
    height: 30px;

    input {
      border: 1px solid $darkBlue;
      height: 100%;
      padding: 7px;
      font-family: "Montserrat", serif;
      text-indent: 15px;
      width: 240px;
    }

    button {
      // height: 100px;
      background-color: $darkBlue;
      outline: none;
      border: none;
      padding: 3px;
      padding: 3px 10px;
      cursor: pointer;
      span {
        color: #fff;
        font-size: 27px;
      }
    }
  }
}